.contents {
  width: 80%;
  margin: 0 auto;
}

.contentItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  border: 1px solid black;
  margin-bottom: 10px;
  overflow: hidden;
}

.contents .contentItem i {
  width: 20px;
  height: 20px;
}

img,
iframe {
  width: 50%;
  height: 200px;
}

.innerContent {
  width: calc(50% - 20px);
  padding: 10px;
}

.contentTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.contentDesc {
  font-size: 0.8rem;
}

label {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.contentItem i {
  height: 100%;
  width: 100%;
  padding: 20px;
}
