@import url("./reset.css");
@import url("./nav.css");
@import url("./contents.css");
@import url("./addModal.css");
body {
  width: 100%;
  height: 100%;
}

.section {
  margin: 0 auto;
}

i {
  width: 100px;
  height: 100px;
  color: black;
}
