@import url("./reset.css");
@import url("./nav.css");
@import url("./content.css");
@import url("./addModal.css");
body {
  width: 100%;
  height: 100%;
}

.section {
  width: 80%;
  margin: 0 auto;
}
